body {
    background-color: #d0d0ce;
    min-height: 100vh;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.login-card {
    border: 0;
    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgba(41, 41, 41, 0.43);
    overflow: hidden;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.login-card-img {
    border-radius: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.login-card .card-body {
    padding: 85px 60px 60px;
}
.brand-wrapper {
    margin-bottom: 10px;
}
.brand-wrapper .logo {
    height: 50px;
}
.brand-wrapper span {
    font-size: 23px;
}
.login-card-description {
    font-size: 25px;
    color: #000;
    font-weight: normal;
    margin-bottom: 23px;
}
.login-card form {
    max-width: 326px;
}
.login-card .form-control {
    border: 1px solid #d5dae2;
    padding: 15px 25px;
    margin-bottom: 20px;
    min-height: 45px;
    font-size: 13px;
    /* line-height: 15; */
    font-weight: normal;
}
.login-card .login-btn {
    padding: 13px 20px 12px;
    background-color: #000;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px;
}
.login-card .forgot-password-link {
    font-size: 14px;
    color: #919aa3;
    margin-bottom: 12px;
}
.login-card-footer-text {
    font-size: 16px;
    color: #0d2366;
    margin-bottom: 60px;
}
.login-card-footer-nav a {
    font-size: 14px;
    color: #919aa3;
}

/* Registrasi */
.regist-card {
    border: 0;
    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgba(41, 41, 41, 0.43);
    overflow: hidden;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.regist-card-img {
    border-radius: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.regist-card .card-body {
    padding-left: 70px;
}
.brand-wrapper {
    margin-bottom: 10px;
}
.brand-wrapper .logo {
    height: 50px;
}
.brand-wrapper span {
    font-size: 23px;
}
.regist-card-description {
    font-size: 25px;
    color: #000;
    font-weight: normal;
    margin-bottom: 23px;
}
.regist-card form {
    max-width: 326px;
}
.regist-card .form-control {
    border: 1px solid #d5dae2;
    padding: 15px 25px;
    margin-bottom: 20px;
    min-height: 45px;
    font-size: 13px;
    /* line-height: 15; */
    font-weight: normal;
}
.regist-card .login-btn {
    padding: 13px 20px 12px;
    background-color: #000;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px;
}
.regist-card .forgot-password-link {
    font-size: 14px;
    color: #919aa3;
    margin-bottom: 12px;
}
.regist-card-footer-text {
    font-size: 16px;
    color: #0d2366;
    margin-bottom: 60px;
}
.regist-card-footer-nav a {
    font-size: 14px;
    color: #919aa3;
}

/* Alumni */
.btn {
    padding-left: 7px;
    padding-right: 7px;
}
.btn-view {
    background-color: transparent;
    border: 1px solid #f6b93b;
}
.btn-view i {
    color: #f6b93b;
}
.btn-view:hover {
    background-color: #f6b93b;
    border: none;
}
.btn-view i:hover {
    color: #ffffff;
}

.btn-edit {
    background-color: transparent;
    border: 1px solid #41B548;
}
.btn-edit i {
    color: #41B548;
}
.btn-edit:hover {
    background-color: #41B548;
    border: none;
}
.btn-edit i:hover {
    color: #ffffff;
}

.btn-delete {
    background-color: transparent;
    border: 1px solid #e55039;
}
.btn-delete:hover {
    background-color: #e55039;
    border: none;
}
.btn-delete i {
    color: #e55039;
}
.btn-delete i:hover {
    color: #ffffff;
}

.input-group-text {
    padding: 0 !important;
    background: gray !important;
    color: white !important;
}

.label-success {
    background-color: #18bc9c;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.modal-header:before, .modal-header:after {
    content: " ";
    display: table;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    display: block;
}
.modal .close {
    color: #2c3e50;
}
.modal-header .close {
    margin-top: -2px;
    margin: 0;
    padding: 0;
}
.modal-content {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}

.modal-body {
    position: relative;
    padding: 20px;
}
.hide {
    display: none !important;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
    display: block;
}
.jumbotron {
    padding-left: 2em;
    padding-right: 2em;
}
@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #ecf0f1;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.close {
    color: #fff;
    text-decoration: none;
    opacity: 0.4;
}
.close {
    float: right;
    font-size: 22.5px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-shadow: none;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.modal-footer {
    padding: 20px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    display: block;
}
.modal-footer:before {
    content: " ";
    display: table;
}
.modal-footer:after {
    content: " ";
    display: table;
}
.btn-default {
    color: #ffffff;
    background-color: #95a5a6;
    border-color: #95a5a6;
}
.btn-warning {
    color: #ffffff;
    background-color: #f39c12;
    border-color: #f39c12;
}
.btn-success {
    color: #ffffff;
    background-color: #18bc9c;
    border-color: #18bc9c;
}
.btn-success:hover {
    color: #ffffff;
    background-color: #128f76;
    border-color: #11866f;
}
.btn-success:focus, .btn-success.focus {
    color: #ffffff;
    background-color: #128f76;
    border-color: #0a4b3e;
}

.form-check .form-check-label {
    padding-left: 0;
}